@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    Welcome to the Joel Hilton Film Collection, where you can discover more about my favorite films.
</div>
<br />
<br />

<img src="~/img/JoelHiltonHeadshot.jpg" height="300" />
<br />
<br />

<div>
    <a asp-action="Movie">Add a Movie</a>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieList">View the Movie List</a>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Podcast">View my Podcast</a>
</div>
