@{ 
    ViewData["Title"] = "Movie List";
}

<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent to</td>
            <td>Notes</td>
        </tr>
    </thead>
</table>